#title {
  color: rgb(221, 157, 8);
  font-family: "Montserrat", sans-serif;
}

.subtitle {
  color: rgb(201, 150, 33);
  font-family: "Montserrat", sans-serif;
}

#service-image {
  width: 70vw;
  height: 400px;
  background: radial-gradient(circle, red 2%, blue 47%, green 55%);
  padding: 30px;
  margin: 30px;
  border: 8px double rgb(255, 55, 55);
  display: inline-block;
}

body {
  font-size: 1.15em;
  font-family: "Lato", sans-serif;
}

.link {
  text-decoration: underline;
  text-transform: uppercase;
}

.italics {
  font-style: italic;
}

#about-us-image {
  height: 300px;
  width: 60%;
  border: 3px solid blueviolet;
  padding: 5px 50px 100px 20px;
  /* float: right; */
  /* display: inline-block; */
}

.container-item {
  background: green;
  width: 70px;
  color: aliceblue;
  text-align: center;
  line-height: 50px;
  margin: 5px;
}

.container {
  background: white;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  height: 200px;
}

.grid-container {
  background: white;
  display: grid;
  /* justify-content: space-evenly;
  align-content: space-around; */
  /* column-gap: 200px;
  row-gap: 100px; */
  /* gap: 100px 200px; */
  margin: 20px;
  height: 500px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.grid-item {
  text-align: center;
  width: 70px;
  margin: 10px;
  line-height: 40px;
  color: black;
  font-size: 1.5em;
}

form {
  display: grid;
  grid-template-columns: 20%;
  grid-template-rows: auto, auto, auto;
  justify-content: start;
  align-content: space-arround;
  gap: 1em 1em;
}

.form-input {
  border: 2px solid rgba(0, 20, 29, 0.733);
  border-radius: 2px;
  height: 3em;
}

textarea {
  border: 2px solid rgba(0, 20, 29, 0.733);
  border-radius: 2px;
}

.submit-button {
  background: rgb(54, 129, 228);
  color: white;
  border-radius: 10px;
  width: 60%;
  margin: 1em;
  font-size: 0.8em;
  border: none;
  padding: 0.3em 1em;
  transition: all 1s linear 0.2s;
  /* -moz-transition: all 1s linear 0.2s;
  -webkit-transition: all 1s linear 0.2s;
  -o-transition: all 1s linear 0.2s;
  transform: translate(50px, 30px);
  -moz-transform: translate(50px, 30px);
  -webkit-transform: translate(50px, 30px);
  -o-transform: translate(50px, 30px);
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5); */
  /* transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg); */
  /* transform: skewX(45deg);
  -moz-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  -o-transform: skewX(45deg); */
  transform: matrix(1, 0.45, 0.45, 1, 100, 20);
  -moz-transform: matrix(1, 0.45, 0.45, 1, 100, 20);
  -webkit-transform: matrix(1, 0.45, 0.45, 1, 100, 20);
  -o-transform: matrix(1, 0.45, 0.45, 1, 100, 20);
}

.submit-button:hover {
  background: rgb(94, 169, 268);
  padding: 0.6em 2em;
  color: lightgrey;
}

#about-me {
  /* animation-name: red-to-black-to-blue;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; */
  animation: red-to-black-to-blue 4s linear 0.2s infinite alternate-reverse;
}

@keyframes red-to-black-to-blue {
  0% {
    background: red;
    transform: translate(0px, 0px);
  }
  50% {
    background: black;
    transform: translate(10px, 10px);
  }
  100% {
    background: blue;
    transform: translate(20px, 20px);
  }
}
