#title {
  color: rgb(221, 157, 8);
  font-family: "Montserrat", sans-serif;
}

.subtitle {
  color: rgb(201, 150, 33);
  font-family: "Montserrat", sans-serif;
}

#service-image {
  width: 70vw;
  height: 400px;
  background: radial-gradient(circle, red 2%, blue 47%, green 55%);
}

body {
  font-size: 1.15em;
  font-family: "Lato", sans-serif;
}

.link {
  text-decoration: underline;
  text-transform: uppercase;
}

.italics {
  font-style: italic;
}
