#title {
  color: rgb(221, 157, 8);
}

.subtitle {
  color: rgb(201, 150, 33);
}

#service-image {
  width: 70%;
  height: 400px;
  background: radial-gradient(circle, red 2%, blue 47%, green 55%);
}

body {
  background: linear-gradient(
    to bottom,
    rgba(204, 229, 255, 1),
    rgba(204, 225, 255, 0.4)
  );
}
