#title {
  color: rgb(221, 157, 8);
  font-family: "Montserrat", sans-serif;
}

.subtitle {
  color: rgb(201, 150, 33);
  font-family: "Montserrat", sans-serif;
}

#service-image {
  width: 70vw;
  height: 400px;
  background: radial-gradient(circle, red 2%, blue 47%, green 55%);
  padding: 30px;
  margin: 30px;
  border: 8px double rgb(255, 55, 55);
  display: inline-block;
}

body {
  font-size: 1.15em;
  font-family: "Lato", sans-serif;
}

.link {
  text-decoration: underline;
  text-transform: uppercase;
}

.italics {
  font-style: italic;
}

#about-us-image {
  height: 300px;
  width: 60%;
  border: 3px solid blueviolet;
  padding: 5px 50px 100px 20px;
  /* float: right; */
  /* display: inline-block; */
}

.container-item {
  background: green;
  width: 70px;
  color: aliceblue;
  text-align: center;
  line-height: 50px;
  margin: 5px;
}

.container {
  background: white;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  height: 200px;
}

.grid-container {
  background: white;
  display: grid;
  /* justify-content: space-evenly;
  align-content: space-around; */
  /* column-gap: 200px;
  row-gap: 100px; */
  /* gap: 100px 200px; */
  margin: 20px;
  height: 500px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}

.grid-item {
  text-align: center;
  width: 70px;
  margin: 10px;
  line-height: 40px;
  color: black;
  font-size: 1.5em;
}

form {
  display: grid;
  grid-template-columns: 20%;
  grid-template-rows: auto, auto, auto;
  justify-content: start;
  align-content: space-arround;
  gap: 1em 1em;
}

.form-input {
  border: 2px solid rgba(0, 20, 29, 0.733);
  border-radius: 2px;
  height: 3em;
}

textarea {
  border: 2px solid rgba(0, 20, 29, 0.733);
  border-radius: 2px;
}

.submit-button {
  background: rgb(54, 129, 228);
  color: white;
  border-radius: 2px;
  width: 60%;
  margin: 1em;
  font-size: 0.8em;
  border: none;
  padding: 0.3em 1em;
  transition: background, padding 0.3s linear 0.1s;
}

.submit-button:hover {
  background: rgb(94, 169, 268);
  padding: 0.6em 2em;
  /* color: lightgrey; */
}
